
.btn-primary {
    border-color: #002868;
    background-color: #002868;
}
.btn-primary:hover {
    background-color: #001f52;
}

#top-bar-strip {
    padding-top: 1rem;
    background-color: #002868;
    color: #fff;
}

#brand-strip img {
    height: 225px;
    padding: 1.5rem;
}

#footer-strip {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid #002868;
}
